<div class="mv2-container">
    <div class="mv2-sideNav">
            <app-side-nav></app-side-nav>
    </div>
    <div class="mv2-appContainer">
        <div class="container-fluid">
            <div class="row mv2-headerNav">
                    <div class="col-s-1 productName">
                            MERCURY
                        </div>
                        <div class="col-s-3 globalSearchBar">
                          <input id="globalSearch" type="text" placeholder="Search...">
                        </div>
                        <div class="col-s-4" style="text-align:center;font-size:15px;">
                          Blank!!!
                        </div>
                        <div class="col-s-2 userName">
                          UserName!!!
                        </div>
                        <div class="col-s-1 userPreferences">
                          UserIcon
                        </div>
                        <div class="col-s-1 userNotifications">
                          notificationIcon
                        </div>
            </div>
            <div class="row">
                <!-- Main Component -->
            </div>
            <div>
                <app-footer></app-footer>
            </div>
        </div> 
    </div>
</div>