.mv2-headerNav{
    background-color: white;
    padding: 15px;
    height: 100%;
    width:100%;
}
.productName{
    height: 100%;
    width:100%;
    padding:10px;
    font-size:24px;
    font-weight: normal;
}
.globalSearchBar{
    height: 100%;
    width:100%;
    padding:10px;
}
#globalSearch{
    border:1px solid #ccc;
    box-shadow: #ccc;
    padding:10px;
    font-size:12px;
}
.userName{
    height: 100%;
    width:100%;
    padding:10px;
    font-size:12px;
}
.userPreferences{
    height: 100%;
    width:100%;
    padding:10px;
    font-size:12px;
}
userNotifications{
    height: 100%;
    width:100%;
    padding:10px;
    font-size:12px;
}